html, body, #map{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background-color: #fff;
}
.overlay-left{
  z-index: 100;
  position: absolute;
  left: 20px;
  top: 18px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  width: 180px;
  border: 2px solid #aaa;
}

#bikesymbol{
  width: 80px;
  height: 46px;
  vertical-align: middle;
  margin-right: 5px;
}
#year{
  vertical-align: middle;
}

.lower{
  top: 240px;
}
.layer{
  text-align: left;
  margin: 10px 0px;
  cursor: pointer;
  padding: 2px 0px;
  font-size: 8pt;
}
.layer:hover{
  background: rgb(210, 210, 210);
}
.layer-select{
  background: #CCDEFF;
}
.layer-select:hover{
  background: rgb(175, 175, 175);
}
.layer-symbol{
  visibility: hidden;
  display: inline;
  padding: 4px 5px 4px 0;
}
.layer-select .layer-symbol{
  visibility: visible;
  background: #009fd0;
  color: #009fd0;
}
.layer-label{
  margin-left: 5px;
  color: rgb(38, 38, 38);
}
button {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color:#79bbff;
  text-indent:0;
  border:1px solid #469df5;
  display:inline-block;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:30px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #287ace;
}
button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color:#4197ee;
}
button:active {
  position:relative;
  top:1px;
}

.leaflet-tile-pane{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
}
.leaflet-tile-pane.grayout{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.grayout .leaflet-tile{
  filter: url(filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}